<div class="submenu column is-2">
	<% if user_signed_in? %>
		<p class="greeting">ようこそ!!</p>
		<div class="current-user-name">
		<%= current_user.name %>
		</div>
	<% end %>

	<aside class="box menu">
		<p class="menu-label">
			【（仮）おすすめ情報 】
		</p>
		<ul class="menu-list">
			<li><a href="#">売れ筋情報<small>@uresugi</small></a></li>
			<li><a href="#">喜びの声<small>@voice</small></a></li>
			<li><a href="#">おすすめ<small>@recommendation</small></a></li>
		</ul>

		<p class="menu-label">
			【 LINK 】
		</p>
		<ul class="menu-list">
			<li>
				<%= link_to "services", services_path, class: "button is-warning" %>
			</li>
			
			<ul>
				<li>
					<%= link_to "users", users_path, class: "button is-success" %>
				</li>
			</ul>
			
		<% if user_signed_in? %>
			<li>
				<%= link_to "Create Profile", new_profile_path(current_user), class: "button is-primary" %>
			</li>
			
		</ul>
		<% end %>
	</aside>
</div>

<div class="column">
	<service class="box media">
		<div class="media-content">
			<% if flash[:notice] %>
				<div class="notification is-info">
					<p class="notice"><%= notice %></p>
				</div>
			<% end %>
			
			<% if flash[:alert] %>
				<div class="notification is-danger">
					<p class="alert"><%= alert %></p>
				</div>
			<% end %>
			
			<%= yield %>
			<%= javascript_pack_tag "application" %>
		</div>
	</service>
</div>