<!DOCTYPE html>
<html>

  <head>
    <title>Win-Win!!!!!</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      
      <%= render 'layouts/main_title' %>
      
      <main class="columns">
        <% if flash[:notice] %>
          <div class="notification is-info">
            <p class="notice"><%= notice %></p>
          </div>
        <% end %>
  
        <% if flash[:alert] %>
          <div class="notification is-danger">
            <p class="alert"><%= alert %></p>
          </div>
        <% end %>
        
        <%= render 'layouts/main_body' %>
      </main>

      <%= render 'layouts/footer' %>
  </body>

</html>