<!DOCTYPE html>
<html>

  <head>
    <title>Win-Win!!!!!</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      <%= render 'layouts/main_title' %>
      
      <main class="columns">
        <%= render 'layouts/main_body' %>
      </main>

      <%= render 'layouts/footer' %>
  </body>

</html>