<div class="action-header">
	<div class="action-name">
		<p>【<%= t('services.Registration_Service') %>】</p>
	</div>

	<div class="action-detail">
		<p>・各サービス情報をクリックし入力しましょう。</p>
		<p>・サービスは出品後に内容の修正や取り消しが出来ます。</p>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-6">
				<%= form_for @service do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<%= render 'services/form', object: f.object %>

					<%= f.submit t('services.Registration'), class: "button is-info" %>
				<% end %>
			</div>
		</div>
	</div>
</section>