<div class="action-header">
	<div class="action-name">
		<p>●　Profiles Index</p>
	</div>

	<div class="action-detail">
		<p>・閲覧したいサービスをクリックしましょう。</p>
	</div>
</div>

<section class="section">
	<div class="container">
		<div class="columns is-multiline">
			<% @profiles.each do |profile| %>
			<div class="column is-3">
				<div class="card">

					<div class="card-content">
						<div class="media-content">
							<div class="big-content">
								User：<%= profile.user.name %>
							</div>
							<% if profile.user.id == current_user.id %>
							<div class="big-content">
								Email：<%= profile.user.email %>
							</div>
							<% end %>
						</div>
					</div>

					<div class="card-content">
						<div class="media-content">
							<div class="small-content">
								Nickname：<%= profile.nickname %>
							</div>
							<div class="small-content">
								Gender：<%= Profile.find_by(gender_id[:name]) %>
							</div>
							<div class="small-content">
								Address：<%= profile.address.name %>
							</div>

							<div class="small-content">
								Date_of_birth：<%= profile.date_of_birth %>
							</div>

							<div class="small-content">
								Personality：<%= profile.personality.name %>
							</div>

							<div class="small-content">
								Special_Skill：<%= profile.special_skill.name %>
							</div>

							<div class="small-content">
								Introduce：<%= profile.introduce %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>