<div class="action-header">
  <div class="action-name">
    <p>● <%= t('users.User_Registration') %></p>
  </div>

  <div class="action-detail">
    <p>・出品や購入を行うためには、会員登録およびログインが必要です。</p>
    <p>・既に会員登録済みの場合は「ログイン」ボタンをクリックして下さい。</p>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label t('users.name'), class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "name", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label t('users.email'), class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> t('users.characters_minimum')</em>
          <% end %>
          <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit t('users.Sign_Up'), class: "button is-info" %>
        </div>
        <% end %>

        <div class="field">
          <button class="btn-default google-login">
            <i class="fa fa-google" aria-hidden="true"></i>
            <%= link_to 'Googleでサインイン', user_google_oauth2_omniauth_authorize_path, style: "color:white;" %>
          </button>
        </div>

        <div class="field">
          <button class="btn-default facebook-login">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <%= link_to 'Facebookでサインイン', user_facebook_omniauth_authorize_path, style: "color:white;" %>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>